{% extends "store/base.html" %}

{% load staticfiles %}

{% block title %}Shop{% endblock %}

{% block stylesheets %}

<link  href="{% static 'css/shopstyle.css' %}" rel="stylesheet" type="text/css" media="screen" />

{% endblock stylesheets %}

{% block body %}
<div>	
	<div class="detail-container">
		<div class="detail-img">
			<img src="{{ image.url }}" />
			
		</div>
		<div class="detail-txt">
			<h2>{{ title }}</h2>
			<h4>${{ price }}</h4>
			<br />
			<br />
			<p>{{ description }}</p>
			<br />
			<br />
			<br />
			<br />
			<button type="button" class="btn btn-primary btn-lg">Add to cart</button>
		</div>
	</div>
</div>
{% endblock body %}
	
