{% extends "store/base.html" %}

{% load staticfiles %}

{% block title %}Shop{% endblock %}

{% block stylesheets %}

<link  href="{% static 'css/shopstyle.css' %}" rel="stylesheet" type="text/css" media="screen" />

{% endblock stylesheets %}

{% block body %}

<div><h1 class="text-center">For your consideration <br /> <small> A smattering of color</small></h1></div>

<div class="enc">
	<div class="bod-dec container inline-block col-xs-6">
		<h2>Body Decoration</h2>
		
		{% if scarf %}
		
		{% for i in scarf %}
		
		<div class="inline-block pull-left dec-img"><a href="{% url 'shop_detail' i.id  %}"><img src="{{ i.image.url }}" width="200" height="200" /><div class="dec-txt">{{ i.title }} ${{ i.price }}</div></div></a>
		
		{% endfor image %}
		
		{% else %}
		
		<p style="font-family: Helvetica;">No products are available</p>
		{% endif %}
		
		
		
	</div>
	<div class="dwel-dec container inline-block col-xs-6">
		<h2>Dwelling Decoration</h2>
		
		{% if decor %}
		
		{% for d in decor %}
		
		<div class="inline-block pull-left dec-img"><a href="{% url 'shop_detail' d.id  %}"><img src="{{ d.image.url }}" width="200" height="200" /><div class="dec-txt">{{ d.title }} ${{ d.price }}</div></div></a>
			
			{% endfor decor %}
			
			
			{% else %}
			
			<p style="font-family: Helvetica;">No products are available</p>
			
			{% endif %}
			
	</div>
	<div class="oth-dec container inline-block col-xs-6" style="clear:left;">
		<h2>Other Decoration</h2>
		
		{% if bowl %}
		
		{% for b in bowl %}
		
		<div class="inline-block pull-left dec-img"><a href="{% url 'shop_detail' b.id  %}"><img src="{{ b.image.url }}" width="200" height="200" /><div class="dec-txt">{{ b.title }} ${{ b.price }}</div></div></a>
			
			{% endfor bowl %}
			
			{% else %}
			
			<p style="font-family: Helvetica;">No products are available</p>
			
			{% endif %}
		</div>
	</div>
		</dv>
</div>

	{% endblock body %}
	
