.image {
    position: relative;
    width: 100%;
}

.mntxt {
    color: black;
    font-size: 75px;
    position: absolute;
    top: 200px;
}

p {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;

}
p span {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgba(0,0,0,0.7);
    padding: 10px;
    
}
