@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);
@import url(http://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700);

.major {
	background-color: #00DBF9;
}

.dec-img {
	padding: 20px;
	border: 1px dotted #69278A;
	margin: .5px;

}

.dec-txt {
	width: 200px;
	text-decoration: none;
	color: black;
}

.bod-dec {
	width: 100%;
	margin-left: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-family: 'Bitter', serif;
	border-radius: 7px;
	border: dashed 2px #D273FF;
	padding: 10px;
	clear: both;
}

.dwel-dec {
	width: 100%;
	margin-left: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-family: 'Bitter', serif;
	border-radius: 7px;
	border: dashed 2px #D273FF;
	padding: 10px;
	clear: both;
}

.oth-dec {
	width: 100%;
	margin-left: 5px;
	margin-bottom: 5px;
	text-align: center;
	font-family: 'Bitter', serif;
	border-radius: 7px;
	border: dashed 2px #D273FF;
	padding: 10px;
	clear: both;
}

/* for detail view */

.enc {
	width: 100%;
	margin-left: 20px;

	
}



.detail-container div {
	min-height: 200px;
	padding: 10px;
}

.detail-img {
	background: url('../img/hideform.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;

	float: left;
	margin-left: 10px;
	box-shadow: 10px 10px 5px grey;
}

.detail-txt {
	background: #FFE3FF;
	min-width: 200px;
	max-width: 400px;
	margin-right: 20px;
	margin-left: 30px;
	margin-top: 30px;
	float: left;
	padding: 10px;
	border: 5px dotted #D273FF;
	
}

@media screen and div {
	#pix {
		float: none;
		margin-right:0;
		width:auto;
		border:0;
	}
}


